<!DOCTYPE html>
<!--Made by Nadeem Shaik nadsaeae@gmail.com-->
<html ng-app="weatherApp" ng-controller="mainCtrl">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WeatherApp</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/materialize.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">

</head>

<body class="cyan lighten-5" ng-cloak>

<!--NAV BAR-->
<div class="row nav">

    <div class="col s12 m4 l4 button waves-effect"><!--NAV LOGO-->
    	
		<nav >
		    <div class="nav-wrapper cyan darken">
		      <a href="/" class="brand-logo center">WeatherApp</a>
		    </div>
	  	</nav>

    </div>

    <div class="col s12 m8 l8 nav-search"> <!--NAV SEARCH--> 
    	<nav>

			<div class="nav-wrapper cyan">

					    <form ng-submit="getcity(name) ; show=true" >
				        <div class="input-field">
				        <input ng-model="name" id="search" type="search" placeholder="Search for the Weather (Enter a City or Postal Code)" required>
				        <label for="search"><i class="material-icons">search</i></label>
				        <i class="material-icons">close</i>
					    </div>
				        </form>
			</div>
		</nav>
	</div>
    
</div>
<!--NAV BAR ENDS HERE-->

<!--LAND MAIN -->

<div ng-hide="show">

<div class="row land-main"> 

    

	<div  class="col s12 m6 l12 land-search "> 

	      <form ng-submit="getcity(name); show=true">
		        <div class="input-field">
 
	    		      	<input respon ng-model="name" class="land-search" type="search" placeholder="Enter City" required>
	        		  	<label for="search"><i class="material-icons">search</i></label>
	          			<i class="material-icons">close</i>
	        	</div>
	   	   </form>   	

	</div>

</div>

</div>

<!--LAND MAIN ENDS HERE-->

<!--WEATHER ROWS START HERE-->
<div ng-if="show" >

	<div class="row">
	    <div class="col s12 m6 l6 week-box">

	        <div class="card cyan darken">

	            <div class="card-content black-text">
	              <span class="card-title">Weekly Forcast</span>
	            </div>

		        <div class="day-box">
										
				<div class="day-panel cyan lighten-1" ng-repeat="item in weekly_list">

					<ul class="collection">
				      <li class="collection-item cyan lighten-1"><b>{{getStamp(item.dt)}}</b></li>
				      <li class="collection-item cyan lighten-1"><img class="weather-icon" src="{{owm + item.weather[0].icon + '.png'}}"></li>
				      <li class="collection-item cyan lighten-1">max: {{item.temp.max}}&deg;C</li>
				      <li class="collection-item cyan lighten-1">min: {{item.temp.min}}&deg;C</li>
				    </ul>

			    </div>

				</div>

	        </div>


	    </div>

	    <div class="col s12 m6 l6 hour-box">

	          	<div class="card cyan darken">
	            <div class="card-content black-text">
	              <span class="card-title">Upcoming Hourly Forcast</span>
	          	</div>
	            <!---static table header-->
					<table class="bordered highlight centered highlight">
			        <thead class="responsive-table cyan">
			          <tr>
		          	  <th>  </th>
		              <th >Time</th>
		              <th >Temperature</th>
		              <th >Humidity</th>
		              <th >Wind</th>
			          </tr>
			        </thead>
			    	</table>

		        <div class="table-box cyan lighten-1">
					    <table class="bordered highlight centered text">
					        <tbody class="responsive-table">

					          <tr ng-repeat="item in hourly_list" class="centered hour-item">

					            <td>{{timeSplit(item.dt_txt)}}</td> <!--time--> 
					            <td ><img src="{{owm + item.weather[0].icon + '.png'}}"/></td>
					            <td>{{item.main.temp}}&deg;C</td>
					            <td>{{item.main.humidity}}%</td>
					            <td>{{item.wind.speed}} m/s</td>

					          </tr>


					        </tbody>
						</table>
				</div>
		            
	        </div>

	    </div>

	    <div class="col s12 m6 l6 news-box">

	            <div class="card cyan darken">
	            <div class="card-content black-text">
	              <span class="card-title">{{hourly.city.name}} Weather News</span>
	            </div>
	                    <div class="table-box cyan lighten-1">
	       					<table class="bordered highlight centered">
						        <tbody>

						        <tr class="collection-item news-item" ng-repeat="item in news_data">
						            <td ><a href={{item.signedRedirectUrl}} alt={{content}}>{{item.titleNoFormatting}}</a></td>
								</tr>

								</tbody>
							</table>
						</div>


	    		</div>
	    </div>

	    <div class="col s12 m6 l6 location-box" ng-if="show"> <!--Using ng-if since the map has to be redrawn instead of hiding due to it prior initialization when the page is loaded-->
	          <div class="card cyan darken">
	            <div class="card-content black-text">
	              <span class="card-title">Location Map</span>
	              <div class="cyan lighten-1">
				
					<ng-map center="[{{lat}}, {{lon}}]"
						zoom="11"
						pan-control="true"
					    map-type-control="true"
					    map-type-control-options="{style:'DROPDOWN_MENU'}"
					    zoom-control="true"
					    zoom-control-options="{style:'SMALL'}" class="map-box" map-type-id="MapTypeId.SATELLITE" >

						    <marker position="{{lat}},{{lon}}"
			    				icon="{path:'BACKWARD_CLOSED_ARROW', scale: 4 , 
			    				    fillOpacity: 0.7 , fillColor: 'red', strokeOpacity: 0.3 ,strokeWeight: 3, strokeColor: 'red'}" 
							    draggable="false">
			        		</marker>


				    </ng-map>             

	             </div>
	            </div>

	    	  </div>
	    
		</div>

	</div> 
	<!--WEATHER ROWS END HERE-->

</div>

<div class="center footer cyan lighten-4">
	<a href="https://github.com/707/">Created by Nadeem Shaik</a>
</div>

</body>
	<script type="text/javascript" src="lib/angular/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>	
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/angular/ng-map.min.js"></script>
	<script src="http://maps.google.com/maps/api/js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</html>